a:hover, a:visited, a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

header {
  background-image: url("../images/bus-header.png");
  height: 632px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: white;
}
header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  margin-top: 106px;
}
header h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
}
header ul {
  list-style-type: none;
  overflow: hidden;
}
header li {
  float: left;
}

.img_margin_right {
  margin-right: 12px;
}

.header-navigation {
  text-decoration: none;
  margin: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.logo {
  margin-top: 28px;
  color: #FFFFFF;
  margin-top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.header_margin {
  padding-top: 28px;
}

.flight-search {
  height: 150px;
  margin-top: 100px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.flight-search .painted-btn {
  background-color: #006A66;
  color: white;
  border: 0;
  height: 50px;
  border-radius: 5px;
  padding: 12px;
}
.flight-search .rows-img {
  margin-top: 10px;
  margin-right: 0px !important;
}
.flight-search p {
  color: #C7C7C7;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
}
.flight-search label {
  position: absolute;
  color: black;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  background: white;
  left: 12px;
  top: 33px;
}
.flight-search span {
  color: #006A66;
}

select {
  padding-left: 35px;
  padding-right: 35px;
  height: 50px;
  width: 268px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
}

.padding-to-select {
  position: relative;
  padding-top: 40px;
}

#datetime {
  height: 50px;
  width: 200px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  padding: 10px;
  padding-left: 35px;
}
#datetime:focus {
  outline: 0px;
}

.img-pos {
  position: absolute;
  left: 18px;
  top: 58px;
}

.arrow-pos {
  position: absolute;
  right: 10px;
  top: 63px;
}

.popular-section {
  margin-top: 50px;
}

#firstrow-popular-section {
  margin-top: 50px;
}

.popular-card {
  height: 270px;
  width: 270px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.from-to-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: white;
  padding-top: 190px;
  padding-left: 20px;
}

.min-costs {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: white;
  padding-left: 20px;
}

.popular-text-rectangle {
  width: 80px;
  height: 25px;
  position: absolute;
  margin-left: 180px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}
.popular-text-rectangle p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  padding-top: 8px;
}

#second-popular-section {
  margin-top: 30px;
}

.popular-question {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 50px;
  padding-bottom: 70px;
  padding-left: 50px;
}
.popular-question h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 50px 0 50px 0;
}
.popular-question p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.btn-more-information {
  border: 0px;
  background-color: white;
  padding: 0;
  display: block;
  margin-top: 10px;
}
.btn-more-information img {
  padding: 0;
  position: absolute;
}
.btn-more-information .horizontal-plus-img {
  padding-top: 6px;
}
.btn-more-information .vertical-plus-img {
  display: block;
  padding-left: 6px;
}

hr {
  height: 0px;
  top: 1746.1px;
  margin-top: 10px;
  border: 1px solid #E5E5E5;
}

.collapse-style {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.reviews {
  margin-top: 60px;
  position: relative;
}
.reviews h2 {
  font-size: 35px;
}
.reviews p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-top: 30px;
  color: #393939;
}
.reviews button {
  padding: 10px 20px 10px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
}

.feedback-btn {
  background-color: #006A66;
  color: white;
  border: 0;
}

.all-feedback-btn {
  background-color: white;
  color: #006A66;
  border: 1px solid #006A66;
}

.feedback-rectangle {
  width: 340px;
  height: 370px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  margin-left: 15px;
}
.feedback-rectangle .feedback-content {
  padding: 50px;
}
.feedback-rectangle .feedback-owner {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.feedback-rectangle .owner-from-to {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #006A66;
}
.feedback-rectangle .datetime-feedback {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.feedback-rectangle hr {
  width: 270px;
  height: 0px;
  left: 825px;
  top: 2893.1px;
  border: 1px solid #E5E5E5;
  margin-bottom: 0px;
  margin-top: 20px;
}
.feedback-rectangle .feedback-text {
  padding-top: 20px;
  margin-bottom: 10px;
}
.feedback-rectangle .feedback-img {
  position: absolute;
  right: 50px;
  bottom: 35px;
}

.btn-margin {
  margin-top: 40px;
}

.star-container {
  margin-top: 40px;
  position: absolute;
  left: 50px;
  bottom: 30px;
}

.carousel-feedback-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #C7C7C7;
  padding: 0px;
  margin: 5px;
}

.filled-circle {
  background-color: #006A66;
}

.carousel-container-feedback {
  padding-top: 30px;
}

.swiper {
  padding: 10px;
  width: 800px;
  height: 450px;
  --swiper-pagination-color:#006A66;
}

.swiper-pagination {
  color: black;
}

footer {
  color: white;
}
footer h2 {
  padding-top: 10px;
  font-size: 30px;
  font-style: normal;
  font-family: "Roboto";
}
footer p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  padding-top: 30px;
  margin-bottom: 0px;
}
footer .cirlce {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  margin-top: 20px;
  padding: 0;
}
footer img {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
footer h3 {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
}
footer ul {
  padding: 25px 0px 0px 0px;
  list-style: none;
}
footer ul li {
  height: 30px;
  line-height: 30px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  padding-bottom: 3px;
}

.container_background {
  background-color: #006A66;
  height: 293px;
  position: relative;
}

.contacts img {
  margin-top: 10px;
}
.contacts span {
  margin-left: 35px;
}

#footer-img {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.benefits {
  margin-top: 35px;
}
.benefits svg {
  margin: 15px;
}
.benefits h4 {
  position: absolute;
  height: 18.28px;
}
.benefits p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 42px;
}

.compass-group {
  height: 416px;
  background-color: #006A66;
  margin-top: 50px;
}
.compass-group .we-are-glad {
  padding-top: 150px;
}
.compass-group h2 {
  font-size: 40px;
  color: white;
  font-family: "Roboto";
}
.compass-group h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.compass-group #map-img {
  height: 320px;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
