$main-color:  #006A66
$logo-color:    #FFFFFF
$main-font-family: 'Roboto'
$header-font-family: 'Inter'
$link-color: white
$header-color: white
$text-color:white

%a-style
    color:$link-color
    background-color: transparent
    text-decoration: none