.popular-section
    margin-top: 50px

#firstrow-popular-section
    margin-top: 50px

.popular-card
    height: 270px
    width: 270px
    background-size: cover
    background-repeat: no-repeat
    border-radius: 10px
    background-image: url("../images/kyiv-berlin.png")
.from-to-text
    font-family: $main-font-family
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 23px
    color: $text-color
    padding-top: 190px
    padding-left: 20px
.min-costs
   
    font-style: normal
    font-weight: 300
    font-size: 18px
    line-height: 21px
    color: $text-color
    padding-left: 20px

.popular-text-revtangle
    width:80px
    height: 25px
    position: absolute 
    margin-left:180px
    margin-top:10px
    background-color: $text-color
    border-radius: 5px
    p
        font-family: $main-font-family
        font-style: normal
        font-weight: 500
        font-size: 10px
        line-height: 12px
        text-align: center
        padding-top: 8px
